/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Acces
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AccesApi {

  /**
   * Archiver un objet acces.
   * 
   * Expected answers:
   *   code 200 :  (Acces archivé.)
   * 
   * @param id L&#39;identifiant transverse de poste
   */
  def accesIdOIdDelete(id: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/acces/idO/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
        /**
   * Archiver tous les objets acces d’une commande.
   * 
   * Expected answers:
   *   code 200 :  (Acces archivé.)
   * 
   * @param idTransverse L&#39;identifiant transverse de l&#39;objet acces.
   */
  def accesIdTIdTransverseDelete(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/acces/idT/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Récupérer un poste.
   * 
   * Expected answers:
   *   code 200 :  (Détail de l&#39;accès trouvé.)
   * 
   * @param idTransverse L&#39;identifiant transverse du vpn.
   */
  def accesIdTransverseGet(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/acces/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra aux SSA clients du 3D, d’écrire un nouvel objet dans la base de données. Crée un objet acces.
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse acces à creer
   */
  def accesPost(idTransverse: Acces): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/acces", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra de modifier un objet via une API REST à partir d’un SSA.
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse accès à modifier
   */
  def accesPut(idTransverse: Acces): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/acces", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
      

}

