/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Commande
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object CommandeApi {

  /**
   * Archive une commande.
   * 
   * Expected answers:
   *   code 200 :  (Commande archivée.)
   * 
   * @param idTransverse L&#39;identifiant transverse de la commande.
   */
  def commandeIdTransverseDelete(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/commande/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra à Arpege de récupérer un objet dans le cadre du déploiement d’une commande. Recuperer une commande.
   * 
   * Expected answers:
   *   code 200 : Commande (Détail de l&#39;accès trouvé)
   * 
   * @param idTransverse L&#39;identifiant transverse de la commande
   */
  def commandeIdTransverseGet(idTransverse: String): ApiRequest[Commande] =
    ApiRequest[Commande](ApiMethods.GET, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/commande/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Commande](200)
      

}

