/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ConfVpn
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ConfVpnApi {

  /**
   * Archive un vpn.
   * 
   * Expected answers:
   *   code 200 :  (ConVpn archivé.)
   * 
   * @param idTransverse L&#39;identifiant transverse du vpn.
   */
  def confVpnIdTransverseDelete(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/confVpn/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ajouter le paramètre « vpn » .
   * 
   * Expected answers:
   *   code 200 : ConfVpn (Détail de l&#39;accès trouvé.)
   * 
   * @param idTransverse L&#39;identifiant transverse du vpn.
   */
  def confVpnIdTransverseGet(idTransverse: String): ApiRequest[ConfVpn] =
    ApiRequest[ConfVpn](ApiMethods.GET, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/confVpn/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[ConfVpn](200)
        /**
   * Ce service permettra aux SSA clients du 3D, d’écrire un nouvel objet dans la base de données. Ajouter le paramètre « vpn » .
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse ConfVpn  a créer.
   */
  def confVpnPost(idTransverse: ConfVpn): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/confVpn", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra aux SSA clients du 3D, d’écrire un nouvel objet dans la base de données. Ajouter le paramètre « vpn » .
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse ConfVpn a modifié.
   */
  def confVpnPut(idTransverse: ConfVpn): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/confVpn", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
      

}

