/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Poste
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PosteApi {

  /**
   * Archiver un objet poste.
   * 
   * Expected answers:
   *   code 200 :  (Poste archivé.)
   * 
   * @param id L&#39;identifiant transverse de poste
   */
  def posteIdOIdDelete(id: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/poste/idO/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
        /**
   * Archiver tous les objets poste d’une commande.
   * 
   * Expected answers:
   *   code 200 :  (Poste archivé.)
   * 
   * @param idTransverse L&#39;identifiant transverse de poste
   */
  def posteIdTIdTransverseDelete(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/poste/idT/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Récupérer un poste.
   * 
   * Expected answers:
   *   code 200 :  (Détail de l&#39;accès trouvé.)
   * 
   * @param idTransverse L&#39;identifiant transverse du vpn.
   */
  def posteIdTransverseGet(idTransverse: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/poste/{idTransverse}", "application/json")
      .withPathParam("idTransverse", idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra aux SSA clients du 3D, d’écrire un nouvel objet dans la base de données. Crée un poste.
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse poste à creer
   */
  def postePost(idTransverse: Poste): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/poste", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
        /**
   * Ce service permettra de modifier un objet via une API REST à partir d’un SSA.
   * 
   * Expected answers:
   *   code 200 :  (Full answer)
   * 
   * @param idTransverse poste à modifier
   */
  def postePut(idTransverse: Poste): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://virtserver.swaggerhub.com/bankass79/3sd/1.0.0", "/poste", "application/json")
      .withBody(idTransverse)
      .withSuccessResponse[Unit](200)
      

}

